{{define "content"}}
<div class="container">
  <article>
    <h1>About</h1>
    <p>
      I'm Cameron Brooks - a software engineer based in [location]. I work on
      [brief description of work]. This site is where I share projects and write
      about what I'm learning.
    </p>
    <p>The best way to reach me is by <a href="/contact">email</a>.</p>
  </article>
</div>
{{end}}
