{{define "content"}}
<div class="container">
  <article>
    <h1>Contact</h1>
    <p>The best way to reach me:</p>
    <ul>
      <li><a href="mailto:cambrooks3393@gmail.com">cambrooks3393@gmail.com</a></li>
      <li><a href="https://github.com/CameronBrooks11" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><a href="https://gitlab.com/cameronkbrooks" target="_blank" rel="noopener noreferrer">GitLab</a></li>
      <li><a href="https://www.linkedin.com/in/cameronbrooks" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
      <li><a href="https://osf.io/wcre4/" target="_blank" rel="noopener noreferrer">OSF</a></li>
      <li><a href="https://www.appropedia.org/User:CameronBrooks11" target="_blank" rel="noopener noreferrer">Appropedia</a></li>
    </ul>
  </article>
</div>
{{end}}
